{% extends 'base.html.twig' %}
{% block body %}


    <div class="addbook">
        <div class="form-type admin">
        <h2>Ajouter une chronique 2eme étape</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="form-button">Ajouter</button>
        {{ form_end(form) }}
        </div>
    </div>

{% endblock %}